@page
@model QuoteAchievements.Pages.Quotes.IndexModel
@{
}

<br />
<h2> List of Quotes </h2>
<a class ='btn btn-outline-primary btn-sm' href='/Quotes/Create'>New Quote</a>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">
        @Model.SuccessMessage
    </div>
}

@if (!string.IsNullOrEmpty(Model.DeletionMessage))
{
    <div class="alert alert-info">
        @Model.DeletionMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Quote</th>
            <th>Author</th>
            <th>IsFavourite</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listQuotes)
        {
            <tr>
                <td>@item.quote</td>
                <td>@item.author</td>
                <td>@item.IsFavourite</td>
                <td>@item.category_name</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm" style="margin-right: 10px;" href="/Quotes/Edit?id=@item.id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Quotes/Delete?id=@item.id">Delete</a>
                    </div> 
                </td>
            </tr>
        }
    </tbody>
</table>